
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12 text-center">

    <h2 style="font-size: 120px">Clarence Durham</h2>
    <h3 style="font-size: 80px">Web Developer</h3>
</div>
  

<div class="column left">
  <img src="~/images/gradpicsmall.JPG" style='height: 100%; width: 100%; object-fit: contain'/>
  <p>

  </p>

<div class="linklist" > <!--LinkedIn and Resume links -->
<ul class="a">
  <li> <img src="~/images/LI-In-Bug.png" class="listImage" /> <a href="https://www.linkedin.com/in/ClarenceD/" target="_blank">LinkedIn</a></li>
  <li> <img src="~/images/WordDoc.png" class="listImage" /> <a href="~/Documents/Clarence Durham - Resume.docx" target="_blank">Resume</a></li>
  <li> <img src="~/images/apple-mail-white.png" class="listImage" /> <a href="mailto:tripp.durham@yahoo.com" target="_blank">Email</a></li>
</ul>
</div>

</div>

<div class="column middle"> <!--Center "body" column -->
<h1 style="text-align:center">About Me</h1>
	<hr class="solid" />
	<h3 style="text-align:center">Education</h3>
	<h4>December 2021</h4>
	<ul> 
		<li>Bachelor of Science - Tarleton State University</li> 
		<li>Major - Computer Information Systems</li>
	</ul>
	<h4>Technical Courses:</h4>
	<p>Systems Analysis and Design, Object Oriented Programming using C#, Web Design using HTML/JS, UI/UX Design, Data Analysis and Design, Software Testing, Operating Systems, Network Design</p>
	<hr class="solid" />
	
	<h4>December 2023 (expected)</h4>
	<ul>
		<li>Master of Science - Tarleton State University</li>
		<li>Major - Information Systems</li>
	</ul>
	<h4>Technical Courses:</h4>
	<p>Decision Support Systems, Business Intelligence and Information Systems, Data Science, Linux, Telecommunications</p>
	<hr class="solid" />

	<h3 style="text-align:center">Projects</h3>
	<h4>Portfolio Website</h4>
	<p>This project involved building a portfolio website that displays a detailed resume and personal details. The website was built in Visual Studio using HTML, CSS, and JavaScript, and it features a clean and modern design that highlights my skills, experience, and education. The goal of this website was to showcase my abilities, skills, and experiences to potential employers. </p>
	
	<h4>Chrome Extention</h4>
	<p>I created a custom Google Chrome extension that accessed an online weather API to display a local weather forecast to users. The extension was built in VS-Code using JavaScript to call the API, and HTML and CSS to format and display the data on the page.</p>
	<hr class="solid" />

    <h3 style="text-align:center">Employment History</h3>
	<h4>Machine Operator - Nebraska Furniture Mart</h4>
	<ul>
		<li>Used asset management software to identify and locate customer orders inside a 1.3 million square foot warehouse.</li>
		<li>Strategically communicated with coworkers through various channels including online, radio, and face-to-face.</li>
		<li>Safely and efficiently operated a variety of equipment required to complete the job.</li>
	</ul>
	<h4>Ranch Assistant Manager - Pony Creek Ranch</h4>
	<ul>
		<li>Assisted Ranch Manager with budgeting, technical support needs, and online purchasing or supplies.</li>
		<li>Performed many physical duties including equipment operation and maintenance, shop cleanup, fence repair, and caring for livestock.</li>
		<li>Acreage clearing and land clean-up</li>
	</ul>
	<h4>Warehouse Assistant - Armstrong Relocation</h4>
	<ul>
		<li>Performed client facing activities, residential moves, large scale commercial moves, assisted customers with custom moving tasks.</li>
		<li>Tracked inbound and outbound inventory and managed asset locations across three, multi-floor, warehouses.</li>
		<li>Routinely asked to perform extra duties that involved client facing activities, large residential moves, commercial moves with clients ‘in office’, assisting commercial customers with custom moving tasks </li>
	</ul>
</div>

<div class="column right"> <!--Right column -->
<h3>Technical Skills</h3>
<ul>
   <li>C#</li>
   <li>HTML</li>
   <li>CSS</li>
   <li>JavaScript</li>
   <li>Python</li>
   <li>SQL</li>
   <li>Bootstrap</li>
   <li>Linux</li>
   <li>Excel</li>
   <li>Word</li>
</ul>
<h3>Platforms/Tools</h3>
<ul>
	<li>Visual Studio</li>
	<li>VS Code</li>
	<li>Notepad ++</li>
	<li>RapidMiner Studio</li>
	<li>Git</li>
	<li>MS SQL Server</li>
	<li>Chromium</li>
	<li>MS Excel</li>
	<li>MS Word</li>
	<li>MS PowerPoint</li>
	<li>Visio</li>
</ul>
<h3>Certifications</h3>
	<ul>
		<li><a href="~/Documents/NetworkProCertification.pdf" target="_blank">TestOut Network Pro</a></li>
	</ul>

</div>